@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@1,700&family=Dosis:wght@300&family=Montserrat:wght@300;400;600&family=Mooli&family=Noto+Sans+Chorasmian&family=Noto+Sans+Multani&family=Racing+Sans+One&family=Sansita:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@1,700&family=Dosis:wght@300&family=Handlee&family=Montserrat:wght@300;400;600&family=Mooli&family=Noto+Sans+Chorasmian&family=Noto+Sans+Multani&family=Racing+Sans+One&family=Sansita:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Alegreya Sans', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Mooli', sans-serif;
font-family: 'Noto Sans Chorasmian', sans-serif;
font-family: 'Noto Sans Multani', sans-serif;
font-family: 'Racing Sans One', cursive;
font-family: 'Sansita', sans-serif;

}
#playing,#notplaying{
    display: flex;
}
#header{
    align-items: center;
    position: fixed;
    left: 0;
    top: 0px;
    right: 0;
}
#inside_haeder{
    width: auto;
    height: 70px ;
    padding: 0px 20px;
    background-image: linear-gradient(to right,rgb(22, 42, 71),rgb(83, 121, 133),rgb(57, 66, 77));
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    
}
#inside_haeder h3,img{
    cursor: pointer;
}
#inside_haeder h3{
    font-family: 'Alegreya Sans', sans-serif;
    font-family: 'Dosis', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mooli', sans-serif;
    font-family: 'Noto Sans Chorasmian', sans-serif;
    font-family: 'Noto Sans Multani', sans-serif;
    font-family: 'Racing Sans One', cursive;
    font-family: 'Sansita', sans-serif;
}
.logo{
    width: 90px;
    height:50px
   
}
.logo img{
    width: 100%;
    height: 100%;
}
.searchField {
    width: 300px;
    height: 27px;
    outline: 0px;
    border: 0px solid white;
    
    border-radius: 5px;
    padding: 5px 15px;
    font-family: 'Alegreya Sans', sans-serif;
    font-family: 'Dosis', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mooli', sans-serif;
    font-family: 'Noto Sans Chorasmian', sans-serif;
    font-family: 'Noto Sans Multani', sans-serif;
    font-family: 'Racing Sans One', cursive;
    font-family: 'Sansita', sans-serif;
    color: black;
    justify-content: space-between;
    background-color: rgb(184, 184, 185);
}
.searchField input{
    font-size: 20px;
    outline: none;
    border: none;
    width: 90%;
    height: 23px;
    margin-right: 5px;
    background-color: rgb(184, 184, 185);
}
.fas{
font-size: 20px;
color: rgb(27, 28, 28);
cursor: pointer;
}
body{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(to right,rgb(225, 235, 235),rgb(157, 153, 153));
    /* background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
    */
} 
.homeinside{
    margin: 8% 5% 0px;
    font-family: 'Alegreya Sans', sans-serif;
    font-family: 'Dosis', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mooli', sans-serif;
    font-family: 'Noto Sans Chorasmian', sans-serif;
    font-family: 'Noto Sans Multani', sans-serif;
    font-family: 'Racing Sans One', cursive;
    font-family: 'Sansita', sans-serif;
}
.gridcontent{
    width: 300px;
    height: 350px;
    text-align: center;
    margin: 40px 5px;
    
    
}
#grid{
    width: 80%;
    display: flex;
    margin: 0px auto;
    justify-content: space-between;
    flex-wrap: wrap;
}
.gridcontent img{
    width: 100%;
    height: 260px;
    
    border-radius: 5px;
   
}
.gridcontent h3{
    margin: 10px 0px;
    font-family: 'Alegreya Sans', sans-serif;
    font-family: 'Dosis', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mooli', sans-serif;
    font-family: 'Noto Sans Chorasmian', sans-serif;
    font-family: 'Noto Sans Multani', sans-serif;
    font-family: 'Racing Sans One', cursive;
    font-family: 'Sansita', sans-serif;
    color: rgba(44, 62, 63, 0.716);
}
.gridcontent p{
    font-weight: 600;
    font-size: 25px;
    color: rgb(26, 95, 114);
    font-style: initial;
    font-family: 'Alegreya Sans', sans-serif;
    font-family: 'Dosis', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mooli', sans-serif;
    font-family: 'Noto Sans Chorasmian', sans-serif;
    font-family: 'Noto Sans Multani', sans-serif;
    font-family: 'Racing Sans One', cursive;
    font-family: 'Sansita', sans-serif;
    
}
.stats{
    margin-top:50px;
    display: flex;
    
    align-items: center;
    justify-content: space-between;
    margin: 90px 100px 30px;
    
}
.stats img{
    
    width: 120px;
}
#btn,#submit{
    align-items: center;
    border-radius: 8px;
    padding: 8px 10px;
    background-color: rgb(120, 139, 156);
    color: white;
    cursor: pointer;
    border: none;
}
#form{
    width: 20%;
    margin: 100px auto;
    text-align: justify;
}
#form input{
width: 100%;
height: 30px;
padding: 5px 8px;
margin: 10px auto;
border: none;
border-radius: 10px;

}
